.question-card {
  border: 1px solid red;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 3rem;
  max-width: 600px;
}

.question-card__heading {
  text-align: center;
  text-wrap: pretty;
  font-size: 1.8rem;
}

.question-card__answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.question-card__answers__answer {
  background-color: var(--accent-color);
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}

.answer--selected {
  background-color: var(--select-color);
}
