*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #202020;
  --secondary-color: #2c2c2c;
  --accent-color: #6dc7ff;
  --error-color: #f44545;
  --good-color: rgb(4, 251, 156);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

a {
  text-decoration: inherit;
}

body {
  background-color: var(--primary-color);
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem 1rem;
}
