.user-info-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user-info__username {
  font-size: 1.2rem;
}
.user-info__avatar {
  height: 36px;
  border-radius: 50%;
}
