.register-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.register-form__section {
  border: none;
  display: flex;
  flex-direction: column;
}

.register-form__section + .register-form__section {
  margin-top: 2.5rem;
}

.register-form__error {
  max-width: 100%;
  margin-top: 1rem;
}

.register-form__section--buttons {
  margin-top: 1rem;
}
